*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style-type: none;
    text-decoration: none;
}
.container{
    margin: 50px 120px;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li{
    margin: 0 10px;
}

/* journey section work start */

.journey-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.journey-text-area{
    width: 500px;
}
.journey-text-area h1{
    font-size: 50px;
    margin-bottom: 15px;
}
.journey-text-area p{
    font-weight: bold;
    margin-bottom: 15px;
}
.btn-primary{
    padding: 10px 15px;
    background-color:#E02C6D;
    border: none;
    border-radius: 20px;
    color: white;
}
.journey-image{
    background-image: url(../images/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
}
.journey-image img{
    width: 100%;
    height: 100%;
}

/* logos section start  */

.logo-site{
    margin-bottom: 30px;
}
.company-logos-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    border-top: 0.5px solid rgba(128, 128, 128, 0.308);
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.308);
}

/* collection section start  */

.collection{
    margin-top: 30px;
}
.collection > h2{
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
}
.collection-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 40px;
    padding-bottom: 50px;
}
.single-container{
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.single-box h2{
    color: #18191F;
    margin: 10px 0;
}
.single-box h3{
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 10px;
}
.single-box h4{
    color: #5E6366;
}
.single-box h4 i{
    color: orange;
    margin-right: 8px;
}
.single-box p{
    color: #787885;
    margin-top: 10px;
}
.see-more-text h2{
    margin-top: -60px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 25px;
    color: #E02C6D;
}

/* product section start  */

.product-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-text{
    margin-right: 30px;
}
.product-text h1{
    font-size: 35px;
    margin-bottom: 10px;
}
.product-text p{
    color: #6C6C6C;
    margin-bottom: 10px;
}